exportPattern("^[^\\.]")
useDynLib(GenomicSEM, .registration = TRUE, .fixes = ".")
import(plyr, except = c(arrange, count, desc, failwith, id, mutate, rename, summarise, summarize))
import(e1071)
import(readr)
import(gdata, except = c(combine, env, first, last, nobs, object.size, resample, starts_with))
import(lavaan)
import(doParallel)
import(parallel)
import(foreach)
import(data.table, except = c(between, first, last))
import(stringr)
import(splitstackshape)
import(Matrix, except = c(head, tail))
import(R.utils, except = timestamp)
import(dplyr)
import(iterators)
import(Rcpp, except = c(.DollarNames, prompt))
import(utils)
import(mgsub)
